/* -------------------- Body & Background -------------------- */
body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url("images/backround2.jpg") no-repeat center center fixed;
    background-size: cover;
    position: relative;

}

/* -------------------- Navigation -------------------- */
ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

li {
    margin: 0 10px;
}

ul li a {
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(135, 135, 135);
    color: white;
    border-radius: 60%;
    border-style: ridge;
}

ul li a:hover {
    background-color: rgb(69, 69, 69);
}

/* Logo */
.logo {
    padding: 20px 37px;
    width: 4%;
}

.nav-links {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 2.1%;
}

/* -------------------- Hide old <img> -------------------- */
.backround-image {
    display: none;

}

.text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    margin-left: 4%;
    width: 35%;

}

.text h1 {

    font-size: 70px;

}

.text h1,
h2 {
    margin: 0;

    padding: 0;

}

.text h1 {
    margin-bottom: 5px;

}










/* -------------------- Grey Overlay Section -------------------- */
.overlay {
    position: relative;
    background-color: rgba(128, 128, 128, 0.6);
    display: flex;
    align-items: flex-start;
    margin-top: 43%;

    z-index: 1;

}

.about-me {
    color: white;
    width: 100%;
}

hr {
    border: none;
    border-top: 2px solid rgb(255, 255, 255);
    width: 100%;
    margin: 40px auto;
}

.about-me h1 {
    font-size: 70px;
    font-style: italic;
    padding: 40px;
    font-weight: bold;
}

.about-me h2 {
    font-size: 30px;
}

/*------------------Who am i Sections----------------*/
.who-am-i {
    padding: 40px;
}

/*------------------Education Sections----------------*/
.education {
    padding: 40px;
}


/*------------------Skills Sections----------------*/

.skills {
    background-color: black;

    padding: 40px;
}



.skills h2 {
    text-align: center;
}

.skills p {
    color: rgb(92, 92, 92);
    text-align: center;
}


.skills h3 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.8rem;
    text-align: left;
}


.bars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 20px;
}


.bar-item {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

}


.progress-bar {
    width: 80%;
    height: 16px;

    background-color: rgb(51, 51, 51);
    border-radius: 12px;
    overflow: hidden;
    margin-top: 5px;

}


.progress-fill {
    height: 100%;
    background-color: rgb(31, 167, 0);
    width: 0;
    border-radius: 12px 0 0 12px;
    transition: width 1s ease-in-out;
    padding-left: 10px;
    text-align: left;
    color: white;
}


/*---------------------Interest Section----------------*/
.interests {
    padding: 5%;

}



/*------------------Contact Sections----------------*/

form {
    background-color: aliceblue;
    width: fit-content;
    padding: 5%;
    float: right;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-top: 0%;
}

#form-title {
    font-size: 10px;
    color: black
}

.contact-text h1 {
    height: 10%;
}

/* -------------------- Responsive -------------------- */
@media screen and (max-width: 1600px) {

    .text h1 {
        right: 1035px;
    }

    .text h2 {
        right: 775px;
    }

    .text pre {
        right: 870px;
    }

    .logo {
        width: 4%;
        padding: 20px 37px;
    }

}