body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  padding: 110px;
  color: blueviolet;
}

button {
  border-radius: 20px;
  background-color: blueviolet;
  color: white;
   border-color: blueviolet;
   

}

button:hover {
  background-color: rgb(175, 62, 250);
  border-color: blueviolet;
  
}

input {
  width: 5%;
  text-align: center;
  font-size:15px ;
}
